*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 1.6rem;
}
.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
